<link rel="stylesheet" href="/libs/editor.md/css/editormd.css">
<link rel="stylesheet" href="/libs/editor.md/css/editormd.preview.css">
<style>
  .editormd-menu>li>a>.fa {
    font-size: 14px;
  }
</style>

<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

  <!-- Sidebar -->
  <nav id="sidebar">
    <!-- Sidebar Scroll Container -->
    <div id="sidebar-scroll">
      <!-- Sidebar Content -->
      <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
      <div class="sidebar-content">
        <!-- Side Header -->
        <div class="side-header side-content bg-white-op">
          <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
          <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
            <i class="fa fa-times"></i>
          </button>
          <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
          <div class="btn-group pull-right">
            <button class="btn btn-link text-gray dropdown-toggle" data-toggle="dropdown" type="button">
              <i class="si si-drop"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right font-s13 sidebar-mini-hide">
              <li>
                <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
                  <i class="fa fa-circle text-default pull-right"></i>
                  <span class="font-w600">默认</span>
                </a>
              </li>
              <li>
                <a data-toggle="theme" data-theme="./css/themes/amethyst.min.css" tabindex="-1" href="javascript:void(0)">
                  <i class="fa fa-circle text-amethyst pull-right"></i>
                  <span class="font-w600">紫晶</span>
                </a>
              </li>
              <li>
                <a data-toggle="theme" data-theme="./css/themes/city.min.css" tabindex="-1" href="javascript:void(0)">
                  <i class="fa fa-circle text-city pull-right"></i>
                  <span class="font-w600">都市</span>
                </a>
              </li>
              <li>
                <a data-toggle="theme" data-theme="./css/themes/flat.min.css" tabindex="-1" href="javascript:void(0)">
                  <i class="fa fa-circle text-flat pull-right"></i>
                  <span class="font-w600">扁平</span>
                </a>
              </li>
              <li>
                <a data-toggle="theme" data-theme="./css/themes/modern.min.css" tabindex="-1" href="javascript:void(0)">
                  <i class="fa fa-circle text-modern pull-right"></i>
                  <span class="font-w600">现代</span>
                </a>
              </li>
              <li>
                <a data-toggle="theme" data-theme="./css/themes/smooth.min.css" tabindex="-1" href="javascript:void(0)">
                  <i class="fa fa-circle text-smooth pull-right"></i>
                  <span class="font-w600">平滑</span>
                </a>
              </li>
            </ul>
          </div>
          <a class="h5 text-white" href="start_backend.html">
            <i class="fa fa-circle-o-notch text-primary"></i>
            <span class="h4 font-w600 sidebar-mini-hide">PELAR</span>
          </a>
        </div>
        <!-- END Side Header -->

        <!-- Side Content -->
        <div class="side-content">
          <ul class="nav-main">
            <li>
              <a href="/admin">
                {{!--
                <i class="si si-speedometer"></i> --}}
                <i class="fa fa-list-ul"></i>
                <span class="sidebar-mini-hide">首页</span>
              </a>
            </li>

            <li>
              <a class="active" href="/admin/create">
                <i class="fa fa-list-ul"></i>
                <span class="sidebar-mini-hide">文章录入</span>
              </a>
            </li>

            <li>
              <a href="##">
                <i class="fa fa-list-ul"></i>
                <span class="sidebar-mini-hide">文章管理</span>
              </a>
            </li>

          </ul>
        </div>
        <!-- END Side Content -->
      </div>
      <!-- Sidebar Content -->
    </div>
    <!-- END Sidebar Scroll Container -->
  </nav>
  <!-- END Sidebar -->

  <!-- Header -->
  <header id="header-navbar" class="content-mini content-mini-full">
    <!-- Header Navigation Right -->
    <ul class="nav-header pull-right">
      <li>
        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
        <button class="btn btn-default" data-toggle="layout" data-action="side_overlay_toggle" type="button">
          <i class="fa fa-tasks"></i>
        </button>
      </li>
    </ul>
    <!-- END Header Navigation Right -->

    <!-- Header Navigation Left -->
    <ul class="nav-header pull-left">
      <li class="hidden-md hidden-lg">
        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
          <i class="fa fa-navicon"></i>
        </button>
      </li>
      <li class="hidden-xs hidden-sm">
        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
          <i class="fa fa-ellipsis-v"></i>
        </button>
      </li>
      <li class="visible-xs">
        <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
        <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible"
          type="button">
          <i class="fa fa-search"></i>
        </button>
      </li>
      <li class="js-header-search header-search">
        <form class="form-horizontal" action="start_backend.html" method="post">
          <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
            <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="搜索..">
            <span class="input-group-addon">
              <i class="si si-magnifier"></i>
            </span>
          </div>
        </form>
      </li>
    </ul>
    <!-- END Header Navigation Left -->
  </header>
  <!-- END Header -->

  <!-- Main Container -->
  <main id="main-container">

    <!-- Page Content -->
    <div class="content">
      <!-- My Block -->
      <div class="block">
        <div class="block-header" style="border-bottom: 1px solid #dedede; padding-bottom: 0;">
          <button id="saveArticle" class="btn btn-info pull-right" type="button">
            <i class="glyphicon glyphicon-saved"></i>
            保存
          </button>
          <h3 class="block-title">文章录入</h3>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 10px 0 0;">

            <form action="" method="POST" class="form-block col-xs-7" role="form" style="padding-left: 0;">

              <div class="form-group">
                <label class="sr-only" for="title">标题</label>
                <input type="text" class="form-control" id="title" placeholder="标题" required="required">
              </div>

              <div class="form-group">
                <label class="sr-only" for="author">作者</label>
                <input type="text" class="form-control" id="author" placeholder="作者" required="required">
              </div>

              <div class="form-group">
                <label class="sr-only" for="summary">摘要</label>
                <textarea name="summary" id="summary" placeholder="摘要" class="form-control" rows="3" required="required"></textarea>
              </div>

            </form>

          </div>

        </div>
        <div class="block-content" style="height: 600px;">
          <div id="editormd">
            <textarea style="display:none;">## 从这里开始!</textarea>

            <textarea class="editormd-markdown-textarea" name="editormd-markdown-doc"></textarea>
            <!-- html textarea 需要开启配置项 saveHTMLToTextarea == true -->
            <textarea class="editormd-html-textarea" name="editormd-html-code"></textarea>
          </div>
        </div>
      </div>
      <!-- END My Block -->
    </div>
    <!-- END Page Content -->
  </main>
  <!-- END Main Container -->

</div>

<script src="/libs/editor.md/editormd.min.js"></script>
<script src="/js/createArticle.js"></script>